<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Trip Duration Predictor</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/style2.css') }}">
</head>

<body>
    <div class="predict">
        <h1>Trip Duration Predictor</h1>
        <h2>Your Trip will take around {{ pred_time}} minutes</h2>
    </div>

    <!-- Include Bootstrap JS and Popper.js -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
